{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portal Ana Franco{% endblock %}</title>
    <link rel="icon" href="{% static 'ana_franco_logo.jpg' %}" type="image/jpeg">
    {% tailwind_css %}
</head>

<body class="bg-gray-100">
    {% include 'components/menu/menu.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>